/* product_styles.css */

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h2 {
    margin-top: 10px;
}

.product-item p {
    margin: 10px 0;
}

.add-product-form {
    max-width: 400px;
    margin: 0 auto;
}

.add-product-form label {
    display: block;
    margin-bottom: 8px;
}

.add-product-form input[type="text"],
.add-product-form input[type="number"],
.add-product-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-product-form button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-product-form button:hover {
    background-color: #0056b3;
}
