{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    {% block extra_head %} {% endblock %}
</head>
<body>

<header>
    <div class="container">
        <h1>Tech Guru</h1>
        {% if user.is_authenticated  %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn"> Login </a>
            <a href="{% url 'register' %}" class="btn"> Register </a>
        {% endif %}
    </div>
</header>

<nav>
    <div class="container">
        <ul>
            <li><a href="{% url 'add_product' %}">Add product</a> </li>
        </ul>
    </div>
</nav>

<div class="container">
    <main>
        {% block content %}

        {% endblock %}
    </main>
</div>

<footer>
    <div class="container">
        <p>&copy; 2024 Tech Guru</p>
    </div>
</footer>
</body>
</html>