{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% block content %}
	<h1>Products</h1>

    <ul>
    {% for product in products %}
    <li>
        <h2>{{ product.name }}</h2>
        <p>Category: {{ product.category.name }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
    </li>
    {% empty %}
    <li>No product available</li>
    {% endfor %}
    </ul>
{% endblock %}